     

 P,div,td  {
 	font : 10pt verdana;
 }
 
 H3  {
 	font : 12pt verdana;
 	font-weight : bold;
 }
 
 A:Hover  {
 	color : Fuchsia;
 }
 
 b,th  {
 	font : 10pt verdana;
 	font-weight : bold;
 }
u  {
 color  : blue; }
 
 